@media screen and (max-width: 4000px) {
  #profile {
    margin-top: 2rem;
    margin-bottom: 20rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }

  #about,
  #projects {
    height: fit-content;
    margin-bottom: 20rem;
  }

  .arrow2 {
    position: absolute;
    right: 1rem;
    bottom: -5rem;
    cursor: pointer;
  }
  .arrow1 {
    position: absolute;
    right: 1rem;
    bottom: -0.8rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    margin-bottom: 10rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #profile,
  #contact,
  #about,
  #projects {
    height: fit-content;
    margin-bottom: 20rem;
  }

  .arrow2 {
    position: absolute;
    right: 1rem;
    bottom: -5rem;
    cursor: pointer;
  }
  .arrow1 {
    position: absolute;
    right: 1rem;
    bottom: -0.8rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1100px) {
  .about-details-container {
    margin-top: -7rem;
  }
  #profile {
    margin-top: 10%;
    margin-bottom: 30%;
  }

  .details-container {
    border: none;
  }
  .arrow1,
  .arrow2 {
    display: none;
  }

  #projects,
  #profile,
  #about {
    height: fit-content;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__pic-container {
    text-align: center;
  }
  .about-pic {
    margin: 0 auto;
    display: block;
  }
  #contact {
    margin-top: 100px;
  }
  .about-containers,
  .contact-info-upper-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .color-container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .details-container {
    border: none;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #profile,
  .section-container {
    display: block;
  }
  .arrow1,
  .arrow2 {
    display: none;
  }

  #projects,
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  #profileimg {
    margin-top: 25px;
  }
  .section__pic-container {
    max-width: 100%;
    height: 100%;
    margin-bottom: 16vh;
  }
  .color-container {
    max-height: min-content;
    background-color: antiquewhite;
  }

  #myBtn1,
  #myBtn2,
  #myBtn3,
  #myBtn4,
  #myBtn5 {
    border: none;
  }
}

/* @media screen and (max-width: 600px) {
  #projects,
  #profile,
  #about {
    height: fit-content;
  }
  #contact,
  footer {
    height: 10vh;
  }

  #profileimg {
    margin-top: 25px;
  }

  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;

    margin: 0 auto;
  }
  .text-container {
    margin-top: 20px;

    max-width: 100%;
  }
  .color-container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  a,
  #myBtn {
    flex: 1;
    margin: 0 5px;
    text-decoration: underline;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    max-width: 100%;
    height: fit-content;
    margin-bottom: 26vh;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .details-container {
    border: none;
  }
  .about-pic {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .experience-sub-title {
    align-items: center;

    font-size: 10px;
  }

  .color-container {
    max-height: min-content;
    background-color: antiquewhite;
  }

  .details-container {
    border: none;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 65vh;
    margin-bottom: 0;
  }

  #profileimg {
    margin-top: 25px;
  }

  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .text-container {
    margin-top: 20px;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  a,
  #myBtn1 {
    flex: 1;
    margin: 0 5px;
  }

  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 14px;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    max-width: 100%;
    height: auto;
    margin-bottom: 15vh;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .about-pic {
    max-width: 100%;
    height: auto;
  }
  .text-container {
    max-width: 100%;
  }
}
